.contact-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  /* background: #0f172a; dark background */
  margin-top:5%;
  background-color: transparent;
  color: white;
}

.contact-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color:#2563eb;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #1e40af;
}
